<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1280, initial-scale=1">
    <meta name="viewport" content="width=600, initial-scale=0.4">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Европейский институт - УНИВЕРСИТЕТ ЭКОНОМИКИ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/animate.css">
</head>
<body>
        <ul class="menu row justify-content-center">
                <li class="has-dropdown col-2">
                    <a class="menu__link has_chevron" href="#">О институте<span class="lnr lnr-chevron-down"></span></a>
                    <ul class="dropdown">
                        <li><a href="#">Структура</a></li>
                        <!-- <ul class="dropdown">
                            <li><a href="#">Польша</a></li>
                            <li><a href="#">Украина</a></li>
                        </ul> -->
                    </ul>
                </li>
                <li data-menuanchor="aktual" class="has-dropdown col-2">
                    <a class="menu__link has_chevron" href="#aktual">Актуальности
                    </a>
                </li>
                <li class="has-dropdown col-2">
                    <a class="menu__link has_chevron" href="/historii/historii-ru.html">Истории студентов</a>
                </li>
                <li class="has-dropdown col-2">
                    <a class="menu__link has_chevron" href="#">Образование<span class="lnr lnr-chevron-down"></span></a>
                    <ul class="dropdown">
                        <li><a href="#">Летние школы</a></li>
                        <li><a href="#">Курсы</a></li>
                        <li><a href="#">Практика и стаж</a></li>
                    </ul>
                </li>
                <li class="has-dropdown col-2">
                    <a class="menu__link has_chevron" href="#">Приемная кампания<span class="lnr lnr-chevron-down"></span></a>
                    <ul class="dropdown">
                        <li><a href="#">Условия приема</a></li>
                        <li><a href="#">Документы</a></li>
                    </ul>
                </li>
                <li data-menuanchor="kontakt" class="col-2">
                    <a class="menu__link has_chevron" href="#kontakt">Контакт</a>
                </li>
        </ul>

        <div id="page-wrapper">
            
            <div class="section" data-anchor="banner">
                <ul class="lang">
                    <li><a href="../wsg_ei_pl.html">PL</a></li>
                    <li><a href="wsg_ei_en.html">EN</a></li>
                    <li><a href="#">RU</a></li>
                    <li><span class="lnr lnr-chevron-right"></span></li>
                </ul>
                <div class="container">
                    <div class="row justify-content-end">
                        <div id="banner-inst-info">
                            <h4>университет экономики <img id="logo" src="../img/logowsg.png" alt=""></h4> <br>
                            <h1><div style="display: inline-block;" class="element"></div></h1> <br>
                            <h5>им. Николая Коперника</h5>
                        </div>
                    </div>
                </div>
                <a id="banner__arrow-down" href="#"><span class="lnr lnr-chevron-down"></span></a>
            </div>
            <div id='a' class="section" data-anchor="struktura">
                    <div class="col-12 section-hdr">
                            <h1>Почему университет экономики</h1>
                            <hr>
                        </div>
                <div class="container">
                    <div class="row">
                        <div id="why__slider" class="col-xl-6 col-xs-12">
                            <div  class="inst-info__cards">
                                <div class="info__card card1">
                                    <div class="img"><i class="fas fa-users"></i></div>
                                    <h5>Степендиальные программы</h5>
                                    <p>Различные стипендиальные программы</p>
                                </div>
                                <div class="info__card card2">
                                    <div class="img"><i class="fas fa-book-open"></i></div>
                                    <h5>Европейский диплом</h5>
                                    <p>Европейский диплом - котируется во всех странах мира</p>
                                </div>
                                <div class="info__card card3">
                                    <div class="img"><i class="fas fa-users"></i></div>
                                    <h5>Статус студента</h5>
                                    <p>Статус студента Европейского университета</p>
                                </div>
                            </div>
                        </div>
                        <div id="inst_about" class="col-xl-6 col-xs-12">
                            <div>
                                <p>
                                    Одной из основных идей, которой руководится 
                                    Университет Экономики это слияние и интеграции, 
                                    а также обмен опытом, который накопился на протяжении 
                                    25 лет существования Университета на польском рынке.
                                </p>
                                <p>
                                    Уже много лет подряд  мы активно работаем с нашими 
                                    международными партнерами для создания инновационных
                                     структур, с помощью которых качество наших 
                                     образовательных продуктов остается на самом 
                                     высоком европейском уровне. 
                                </p> 
                                <p>
                                    Европейский Институт им. Николая Коперника это 
                                    еще одна инновационная инициатива, которая 
                                    расширяет горизонты европейского 
                                    сотрудничества, не только академического, 
                                    но и экономического, культурного и социального.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="why-facts">
                        <div id="facts">
                                <div class="container">
                                        <div class="row">
                                            <div class="facts__card col-3">
                                                <h3>22000+</h3>
                                                <p>выпускники, студенты, <br> слушатели</p>
                                            </div>
                                            <div class="facts__card col-3">
                                                <h3><span>ok.</span>610</h3>
                                                <p>количество академических <br> преподавателей</p>
                                            </div>
                                            <div class="facts__card col-3">
                                                <h3>40</h3>
                                                <p>Количество специальностей</p>
                                            </div>
                                            <div class="facts__card col-3">
                                                <h3>400+</h3>
                                                <p>Количество студентов <br>с заграницы</p>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                </div>
            </div>
            <div class="section" data-anchor="aktual">
                <div class="container-fluid">
                    <div class="col-12 section-hdr">
                        <h1>актуальности</h1>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="container-fluid">
                            <ul class="actual__list col-12">
                                <li class="actual__list__item">
                                    <a href="#">
                                        <h3>Летняя Школа "Разработка Приложений Виртуальной Реальности"</h3>
                                        <hr>
                                        <p>19.07.2018</p>
                                    </a>
                                </li>
                                <li class="actual__list__item">
                                    <a href="#">
                                        <h3>Стажировка преподавателей из Киева</h3>
                                        <hr>
                                        <p>28.05.2018</p>
                                    </a>
                                </li>
                                <li class="actual__list__item">
                                    <a href="#">
                                        <h3>Приезд студентов и преподавателей на стажировку из Харьковского Университета Радиоэлектроники</h3>
                                        <hr>
                                        <p>02.02.2018</p>
                                    </a>
                                </li>
                                <li class="actual__list__item">
                                    <a href="#">
                                        <h3>III Международная Выставка „Мир глазами молодых”</h3>
                                        <hr>
                                        <p>05.10.2017</p>
                                    </a>
                                </li>
                                <li class="actual__list__item">
                                    <a href="#">
                                        <h3>Открытие Центра Международных Исследований в Киеве</h3>
                                        <hr>
                                        <p>12.09.2017</p>
                                    </a>
                                </li>
                                <li class="actual__list__item">
                                    <a href="#">
                                        <h3>Делегация Международного проекта "Дети просят мира"</h3>
                                        <hr>
                                        <p>22.06.2017</p>
                                    </a>
                                </li>
                                <li class="actual__list__item">
                                    <a href="#">
                                        <h3>Выставка Победителей Международного Конкурса Фотографий</h3>
                                        <hr>
                                        <p>12.06.2017</p>
                                    </a>
                                </li>
                                <li class="actual__list__item">
                                    <a href="#">
                                        <h3>Университет Экономики</h3>
                                        <hr>
                                        <p>28.03.2013</p>
                                    </a>
                                </li>
                                <li class="actual__list__item">
                                    <a href="#">
                                        <h3>Международные контакты</h3>
                                        <hr>
                                        <p>28.02.2013</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href='#' class="actual__btn">Lista aktualnosci</a>
                </div>
            </div>
            <div class="section" data-anchor="partners" id="prtn">
                    <div class="section-hdr">
                        <h1>Наши партнеры</h1>
                        <hr>
                    </div>
                    <div class="container-fluid" id="prtn__list">
                        <h3>Выберите страну</h3>
                        <select v-model="selectedCountry" id="prtn__country">
                            <option v-for="partner in partners" v-bind:value="partner.prtnInst">{{partner.prtnContry}}</option>
                        </select>
                        <ul id="prtn__list__ul">
                            <li id="prtn__list__item" v-for="item in selectedCountry">{{item}}</li>
                        </ul>
                    </div>
                </div>
            <div class="section" data-anchor="kontakt">
                <div id="contact">
                    <div class="section-hdr">
                        <h1>Контакт</h1>
                        <hr>
                    </div>
                    <div id="contact__form">
                        <form method="post" data-abide="ajax">
                            <p>Имя*</p> <input type="text" required>
                            <p>Email*</p> <input type="email" required>
                            <p>Телефон</p> <input type="number">
                            <p>Сообщение*</p> <textarea required id=""></textarea> <br>
                            <button type="submit">Выслать</button>
                        </form>
                    </div>
                </div>
                <div id="adres">
                        <div class="container">
                                <div class="row justify-content-between">
                                    <div class="adres__name col-sm-12 col-xl-3">
                                        <h5>Международная приемная комиссия<br>
                                            Университет Экономики в Быдгоще</h5>
                                    </div>
                                    <div class="adres__cont col-sm-12 col-xl-9">
                                        <ul class="row">
                                            <li class="col-4">
                                                <span>Адрес: </span>
                                                <a href="#">85-229 Быдгощ, ул. Garbary 2</a>
                                            </li>
                                            <li class="col-4">
                                                <span>E-mail: </span>
                                                <a href="mailto:study@byd.pl">study@byd.pl</a>
                                            </li>
                                            <li class="col-4">
                                                <span>Тел: </span>
                                                <a href="tel+48525670792">+48 52 5670792</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                </div>
                <div id="copy">
                        <h6>
                            © 2015 Wyższa Szkoła Gospodarki 
                        </h6>
                    </div>
            </div>
        </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="../js/jquery.fullPage.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../js/app.js"></script>
    <script>
        $(document).ready(function() {
            $('.inst-info__cards').slick({
                // autoplay: true,
                arrows: false,
                autoplaySpeed: 3000,
            });
            $('.actual__list').slick({
                dots: true,
                arrows: false,
                infinite: true,
                autoplay: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                    }
                    },
                    {
                        breakpoint: 900,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                    }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                    }
                }]
            });
            $('#page-wrapper').fullpage({
                anchors: ['banner', 'struktura', 'aktual', 'kontakt'],
                menu: '#page-nav',
                css3: true,
                scrollHorizontally: true,
                scrollingSpeed: 700
            });
            var options = {
                strings: ["", "Институт Польский", "Институт Европейский"],
                smartBackspace: true,
                typeSpeed: 70,
                backSpeed: 30
                }
            var typed = new Typed(".element", options);
                                
        });
    </script>
</body>
</html>