.history {
  position: relative;
  list-style: none;
  margin-bottom: 40px;
  padding-bottom: 10px; }
  .history:hover {
    cursor: default; }
  .history:hover::before {
    transform: scaleX(1); }
  .history:before {
    width: 70%;
    height: 3px;
    position: absolute;
    content: '';
    background: #249AC6;
    bottom: -2px;
    left: 15%;
    transform: scaleX(0);
    transition: .2s ease;
    transform-origin: center center; }
  .history:after {
    width: 70%;
    height: 1px;
    position: absolute;
    content: '';
    background: #249AC6;
    bottom: -1px;
    left: 15%; }
  .history__sbdate, .history__sname, .history__scity {
    text-align: center;
    margin: 0; }
  .history__sname {
    font-size: 1.5em;
    font-weight: bold;
    color: #333; }
  .history__scity {
    display: block;
    color: #777; }
  .history__simg {
    display: block;
    margin: 20px auto 30px; }
  .history__stext {
    font-size: 1.1em;
    width: 80%;
    margin-left: 10%; }
