.courses {
  padding: 0;
  margin: 0; }
  .courses .course {
    list-style: none;
    padding: 30px; }
    .courses .course h5.course__name {
      font-weight: bold;
      color: #333;
      text-align: center;
      margin-bottom: 20px;
      font-size: 1.5em; }
      .courses .course h5.course__name:first-letter {
        text-transform: uppercase; }
    .courses .course p.course__p {
      font-size: 1.1em;
      font-weight: bold;
      color: #333; }
    .courses .course ul.course__features {
      padding-left: 20px;
      margin: 0;
      margin-bottom: 30px; }
      .courses .course ul.course__features li {
        padding: 5px 0;
        font-size: 1.1em;
        list-style: none;
        position: relative; }
        .courses .course ul.course__features li::before {
          content: '';
          position: absolute;
          width: 10px;
          background: #249AC6;
          height: 3px;
          left: -18px;
          top: 50%;
          transform: translate(0, -50%); }
    .courses .course h4 {
      font-weight: bold;
      font-size: 1.2em;
      text-align: center;
      margin-bottom: 20px; }
    .courses .course span {
      font-weight: bold;
      color: #202020; }
