.practics {
  padding: 20px;
  position: relative; }
  .practics p {
    font-size: 1.1em; }
  .practics p:last-of-type {
    margin: 0; }
  .practics .line {
    position: absolute;
    background: #249AC6;
    border-radius: 1px;
    transition: .15s ease; }
    .practics .line.line-horizontal {
      height: 2px;
      width: 50px;
      transform-origin: 0 0; }
      .practics .line.line-horizontal.bottom {
        left: 0;
        bottom: 0;
        transform-origin: top left; }
      .practics .line.line-horizontal.top {
        top: 0; }
    .practics .line.line-vertical {
      width: 2px;
      height: 50px; }
      .practics .line.line-vertical.top {
        top: 0;
        right: 0; }
      .practics .line.line-vertical.bottom {
        bottom: 0; }
    .practics .line.bottom {
      bottom: -40px;
      left: 0; }
    .practics .line.top {
      top: -40px;
      right: 0; }
  .practics:hover .line-vertical {
    height: 100px; }
  .practics:hover .line-horizontal {
    width: 100px; }

@keyframes horAnimate {
  0% {
    width: 50px; }
  25% {
    width: 100px; }
  50% {
    width: 50px; }
  75% {
    width: 100px; }
  100% {
    width: 50px; } }

@keyframes vertAnimate {
  0% {
    height: 50px; }
  25% {
    height: 100px; }
  50% {
    height: 50px; }
  75% {
    height: 100px; }
  100% {
    height: 50px; } }

.vertAnimate {
  animation: vertAnimate .7s ease;
  animation-delay: 1s; }

.horAnimate {
  animation: horAnimate .7s ease;
  animation-delay: 1s; }
