<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1280, initial-scale=1">
    <meta name="viewport" content="width=600, initial-scale=0.4">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Университет Европейский - Университет Экономики в Быдгоще</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <link rel="stylesheet" href="../css/libs.css">
    <link rel="stylesheet" href="../css/struktura.css">
</head>
<body>
    <div id="page-wrapper">
        <ul class="menu row justify-content-center">
            <li class="has-dropdown col-2">
                    <ul class="dropdown">
                        <li><a href="/o-instytucie/o-instytucie-ru.html">O институте</a></li>
                        <li class="str has-dropdown">
                                <a  href="#">Структура</a>
                                <ul class="dob-dropdown">
                                    <li><a href="/struktura/struktura-polska-ru.html">Польша</a></li>
                                    <li><a href="/struktura/struktura-ukraina-ru.html">Украина</a></li>
                                </ul>
                        </li>
                    </ul>
                    <a class="menu__link has_chevron" href="/index.html">Институт<span class="lnr lnr-chevron-down"></span></a>
                </li>
            <li data-menuanchor="aktual" class="has-dropdown col-2">
                <a class="menu__link has_chevron" href="#actual">Актуальности</a>
            </li>
            <li class="has-dropdown col-2">
                <a class="menu__link has_chevron" href="/historii/historii-ru.html">Истории студентов</a>
            </li>
            <li class="has-dropdown col-2">
                <a class="menu__link has_chevron" href="#">Образование<span class="lnr lnr-chevron-down"></span></a>
                <ul class="dropdown">
                    <li><a href="/studia_i_stopnia/studia_i_stopnia-ru.html">Бакалаврат</a></li>
                    <li><a href="/pr_podw_dypl/programy_podwojnego_dyplomowania-ru.html">Второе высшее образование</a></li>
                    <li><a href="/sk-lentie/sk-letnie-ru.html">Школы летние</a></li>
                    <li><a href="/kursy/kursy-ru.html">Курсы</a></li>
                    <li><a href="/praktyki/praktyki_i_staze-ru.html">Практики и стаж</a></li>
                </ul>
            </li>
            <li class="has-dropdown col-2">
                <a class="menu__link has_chevron" href="#">Набор студентов<span class="lnr lnr-chevron-down"></span></a>
                <ul class="dropdown">
                    <li><a href="/proces_rekr/proces_rekrutacji-ru.html">Процесс набора</a></li>
                    <li><a href="/wymag_dok/wymagane_dokumenty-ru.html">Необходимые документы</a></li>
                </ul>
            </li>
            <li data-menuanchor="kontakt" class="col-2">
                <a class="menu__link has_chevron" href="#kontakt">Контакт</a>
            </li>

          </ul>

        <section class="section-block banner">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="banner-inst-info">
                        <h4>университет экономики <img id="logo" src="/img/logowsg.png" alt=""></h4> <br>
                        <h1><div style="display: inline-block;">Европейский институт</div></h1> <br>
                        <h5>им. Николая Коперника</h5>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section-block main">
            <div class="container">
                <div class="section-hdr">
                    <h3>Польша</h3>
                    <hr>
                </div>
                <div id="app">
                    <div class="row">
                            <div class="col-3 city">
                                    <ul>
                                        <li v-on:click="selectedCity = city" v-for="city in strRu">
                                            {{city.city}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-9 city-text">
                                    <ul>
                                        <h5 v-if="selectedCity">{{selectedCity.city}}</h5>
                                        <li v-if="selectedCity" v-for="text in selectedCity.text">{{text}}</li>
                                        <li v-if="!selectedCity" v-for="nS in nSelectedRu">{{nS}}</li>
                                    </ul>
                                </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-block footer">
                <div id="actual" class="actual">
                        <ul class="actual__list col-12">
                                <li class="actual__list__item">
                                    <a href="#">
                                        <h3>Szkoła Letnia "Opracowanie Aplikacji Wirtualnej Rzeczywistości"</h3>
                                        <hr>
                                        <p>19.07.2018</p>
                                    </a>
                                </li>
                                <li class="actual__list__item">
                                    <a href="#">
                                        <h3>Staż wykładowców z Kijowa</h3>
                                        <hr>
                                        <p>28.05.2018</p>
                                    </a>
                                </li>
                                <li class="actual__list__item">
                                    <a href="#">
                                        <h3>Przyjazd studentów i wykładowców na staż z Charkowskiego Uniwersytetu Radioelektroniki</h3>
                                        <hr>
                                        <p>02.02.2018</p>
                                    </a>
                                </li>
                                <li class="actual__list__item">
                                    <a href="#">
                                        <h3>IIІ Międzynarodową Wystawę „Świat oczami młodych”</h3>
                                        <hr>
                                        <p>05.10.2017</p>
                                    </a>
                                </li>
                                <li class="actual__list__item">
                                    <a href="#">
                                        <h3>Otwarcie Centrum Studiów Międzynarodowych w Kijowie</h3>
                                        <hr>
                                        <p>12.09.2017</p>
                                    </a>
                                </li>
                                <li class="actual__list__item">
                                    <a href="#">
                                        <h3>Delegacja międzynarodowego projektu «Діти просять миру» (Dzieci proszą pokoju). </h3>
                                        <hr>
                                        <p>22.06.2017</p>
                                    </a>
                                </li>
                                <li class="actual__list__item">
                                    <a href="#">
                                        <h3>Wystawa Pokonkursowa Międzynarodowego Konkursu Fotograficznego</h3>
                                        <hr>
                                        <p>12.06.2017</p>
                                    </a>
                                </li>
                                <li class="actual__list__item">
                                    <a href="#">
                                        <h3>WYŻSZA SZKOŁA GOSPODARKI</h3>
                                        <hr>
                                        <p>28.03.2013</p>
                                    </a>
                                </li>
                                <li class="actual__list__item">
                                    <a href="#">
                                        <h3>MIĘDZYNARODOWE KONTAKTY</h3>
                                        <hr>
                                        <p>28.02.2013</p>
                                    </a>
                                </li>
                        </ul>
                </div>
                <div class="find-us">
                    <div class="container">
                            <div class="section-hdr">
                                    <h3>
                                        структура
                                    </h3>
                                    <hr>
                                </div>
                        <div class="row justify-content-between">
                            <div class="find-us__list col-md-5 col-xs-12">
                                <h3>Польша</h3>
                                <ul>
                                        <li><a href="/struktura/struktura-polska-ru.html">Быдгощ</a></li>
                                        <li><a href="/struktura/struktura-polska-ru.html">Торунь</a></li>
                                        <li><a href="/struktura/struktura-polska-ru.html">Мальборк</a></li>
                                        <li><a href="/struktura/struktura-polska-ru.html">Елк</a></li>
                                        <li><a href="/struktura/struktura-polska-ru.html">Иновроцлав</a></li>
                                        <li><a href="/struktura/struktura-polska-ru.html">Пила</a></li>
                                        <li><a href="/struktura/struktura-polska-ru.html">Слупск</a></li>
                                </ul>
                            </div>
                            <div class="find-us__list col-md-5 col-xs-12">
                                <h3>Украина</h3>
                                <ul>
                                    <li><a href="/struktura/struktura-ukraina-ru.html">Бровары</a></li>
                                    <li><a href="/struktura/struktura-ukraina-ru.html">Кременчук</a></li>
                                    <li><a href="/struktura/struktura-ukraina-ru.html">Полтава</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="kontakt" class="w-links">
                    <div class="container">
                        <div class="row">
                            <div class="w-links__block col-md-3 col-xs-12">
                                <h4>
                                    Контакт
                                </h4>
                                <ul class="adress">
                                    <li>
                                        <h5>
                                            Международная приемная комиссия
                                            Университет Экономики в Быдгоще
                                        </h5>
                                    </li>
                                    <li>
                                        <p class="adress-link">
                                           <i class="fas fa-map-marker-alt"></i> 85-229 Быдгощ, ул. Garbary 2
                                            <a class="show-in-maps" target="_blank" href="https://www.google.com/maps/place/University+of+Economy+in+Bydgoszcz/@53.1274611,17.9936224,17z/data=!4m5!3m4!1s0x0:0x39959f1c136e65bd!8m2!3d53.1271844!4d17.9937527">Pokaz w mapach</a>
                                        </p>
    
                                    </li>
                                    <li>
                                        <a href="mailto:study@byd.pl"><i class="fas fa-envelope"></i> study@byd.pl</a>
                                    </li>
                                    <li>
                                        <a href="tel+48525670792"><i class="fas fa-phone"></i> +48 52 5670792</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="w-links__block col-md-3 col-xs-12">
                                    <h4>
                                        Будет интересно
                                    </h4>
                                    <ul>
                                        <li>
                                            <a href="https://www.msm.nl">Maastricht School of Management</a>
                                        </li>
                                        <li>
                                            <a href="http://www.cpw.byd.pl/id,1/o-stronie">Centrum Partnerstwa Wschodniego</a>
                                        </li>
                                        <li>
                                            <a href="http://eurostudies.pl/home.1.html">Uniwersity of Economy</a>
                                        </li>
                                        <li>
                                            <a href="http://www.cwz.wsg.byd.pl/o-dziale.1.html">International Affairs Office</a>
                                        </li>
                                        <li>
                                            <a href="/sk-lentie/sk-letnie-ru.html">Summer Schools</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="w-links__block col-md-3 col-xs-12">
                                    <h4>
                                        См. также
                                    </h4>
                                    <ul>
                                        <li>
                                            <a href="https://www.msm.nl">Maastricht School of Management</a>
                                        </li>
                                        <li>
                                            <a href="http://eurostudies.pl/home.1.html">Uniwersity of Economy</a>
                                        </li>
                                        <li>
                                            <a href="http://www.cwz.wsg.byd.pl/o-dziale.1.html">International Affairs Office</a>
                                        </li>
                                        <li>
                                            <a href="/sk-lentie/sk-letnie-ru.html">Summer Schools</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="w-links__block col-md-3 col-xs-12">
                                    <h4>
                                        Найди нас
                                    </h4>
                                    <ul class="socials">
                                        <li>
                                            <a class="fab fa-facebook" href="https://pl-pl.facebook.com/wsg.bydgoszcz"></a>
                                        </li>
                                        <li>
                                            <a class="fab fa-twitter-square" href="https://twitter.com/wsg_bydgoszcz"></a>
                                        </li>
                                        <li>
                                            <a class="fab fa-instagram" href="#">
                                                <div></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="footer__copy">
                    <p>&copy 2018 Университет Экономики</p>
                </div>
            </section>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../js/struktura-polska.js"></script>
    <script src="/js/pMain.js"></script>
</body>
</html>