@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
    font-family: "Roboto", sans-serif;
}

body {
    padding: 0;
    margin: 10px;
    padding-top: 80px;
    background: #e7e7e7;
}

body,
html {
    overflow-x: hidden;
}

ul li {
    list-style: none;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    padding: 15px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 5;
    border-radius: 0 0 6px 6px;
    background: #3568ba;
}

    header input {
        box-sizing: border-box;
        height: 50px;
        width: 100%;
        float: left;
        border: none;
        background: rgba(91, 139, 216,.4);
        border-radius: 3px 25px 25px 3px;
        box-shadow: none;
        outline: none;
        text-indent: 10px;
        color: #fff;
        padding: 0 60px 0 0;
        -webkit-appearance: none;
    }

    header ::-webkit-input-placeholder {
        color: rgba(255,255,255,.4);
    }

    header ::-moz-input-placeholder {
        color: #fff;
    }

    header :-moz-input-placeholder {
        color: #fff;
    }

    header :-ms-input-placeholder {
        color: #fff;
    }

    header button {
        position: absolute;
        border: none;
        background: #fff;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        top: 15px;
        right: 15px;
    }

ul.todo {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

ul.todo li {
    border-left: 3px #3568ba solid;
    min-height: 50px;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    box-sizing: border-box;
    padding: 10px 108px 13px 8px;
    line-height: 30px;
    font-size: 16px;
    color: #282828;
    border-radius: 5px;
}

    ul.todo li:last-child {
        margin: 0;
    }

.opened {
    min-height: 250px;
    max-height: 300px
}

    .opened p {
        text-align: center;
        margin: 0 0 0 72px;
    }

    .opened .about {
        display: block;
        width: 100%;
        min-height: 50px;
        max-height: 245px;
        border: 1px #e8e8e8 solid;
        line-height: 18px;
        font-size: 13px;
        padding: 5px;
        box-sizing: border-box;
        overflow-y: auto;
        word-break: break-all;
        transition: .2s ease;
    }

        .opened .about::-webkit-scrollbar {
            display: none;
        }

        .opened .about:focus {
            box-shadow: 0 0 10px #e8e8e8 inset;
        }

.about {
    display: none;
}

.dots {
    position: absolute;
    bottom: 10px;
    right: 50%;
    height: 10px;
}

    .dots:hover {
        cursor: pointer;
    }

    .dots i {
        font-size: 30px;
        color: #e6e6e6;
    }

    .dots:hover i {
        color: #d6d7d8;
    }

ul.todo li .buttons {
    width: 100px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

    ul.todo li .buttons button {
        height: 100%;
        width: 50px;
        border: none;
        background: transparent;
        font-size: 23px;
        color: #b7b7b7;
    }

.buttons button i {
    transition: .2s ease;
}

.complete {
    float: right;
    border-radius: 0 5px 5px 0;
}

.border {
    content: '';
    width: 1px;
    height: 66%;
    background: #f2f2f2;
    position: absolute;
    right: 49%;
    top: 17%;
}

#completed {
    position: relative;
    opacity: .5;
    padding-top: 60px;
}

    #completed .complete {
        background: #5ff469;
        color: #fff;
        transition: .2s ease;
        width: 49px;
    }

#todo:not(:empty) ~ #completed:empty:before {
    content: '';
    width: 70%;
    height: 1px;
    background: #b7b7b7;
    position: absolute;
    right: 15%;
    top: 30px;
}

#todo:not(:empty) ~ #completed:empty:after {
    content: "You have no completed tasks";
    color: #444;
    display: block;
    text-align: center;
}

#completed:empty #todo:before {
    content: "You have no completed tasks";
    color: #444;
    display: block;
    text-align: center;
}

h2 {
    text-align: center;
    color: #444;
    display: block;
}

ul:not(:empty) ~ h2 {
    display: none;
}

#completed:not(:empty):before {
    content: '';
    width: 70%;
    height: 1px;
    background: #b7b7b7;
    position: absolute;
    right: 15%;
    top: 30px;
}

#colors {
    text-align: center;
    line-height: 5;
    position: fixed;
    bottom: 0;
    left: -90%;
    height: 50px;
    width: 90%;
    background: rgba(255,255,255,.2);
    transition: .3s ease;
    border-right: 10px #190b0b solid;
    border-radius: 0 6px 6px 0;
}

    #colors:hover {
        left: 0;
    }

.color {
    height: 40px;
    width: 40px;
    background: #000;
    display: inline-block;
}

#f-color {
    background: #3568ba;
}

#s-color {
    background: #e5822d;
}

#th-color {
    background: #822de5;
}

#ft-color {
    background: #2d7f37;
}
